<% provide(:title, "Contact") %>
<% provide(:contact?, "active") %>
<div class="inner cover">
  <p class="lead">I am reachable via Email:
  <script language="JavaScript"><!--
    var name = "the.jayanth";
    var domain = "gmail.com";
    document.write('<a href=\"mailto:' + name + '@' + domain + '\">');
    document.write(name + '@' + domain + '</a>');
  </script>
  </p>
  <p class="lead"></p>
</div>

