<% provide(:title, "Home") %>
<% provide(:head?, "active") %>
<div class="inner cover">
  <h1 class="cover-heading">Hello.</h1>
  <p class="lead">I enjoy building things and solving problems.</p>
  <p class="lead">I work as a Software Engineer in the San Francisco Bay Area.</p>
  <p class="lead">I graduated with a Masters in Computer Science from Indiana University</p>
  <p class="lead"></p>
</div>

